.container {
  position: relative;
  width: 1500px;
  height: 600px;
  overflow: scroll;
}

.header,
.body {
  display: flex;
  width: fit-content;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.left-header,
.left-body{
  position: sticky;
  left: 0;
  background: white;
}

.left-header {
  z-index: 2;
}

.left-body {
  z-index: 1;
}

.left-header,
.main-header,
.header-grid {
  display: grid;
  grid-auto-flow: column;
  background: white;
  // grid-auto-rows: max-content;
  // grid-auto-columns: max-content;
  .item {
    border: 1px solid #5cb3cc;
    position: relative;
    .right {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 3px;
      cursor: col-resize;
      &:hover {
        background: red;
      }
    }
  }
}

.left-body,
.main-body {
  grid-auto-flow: column;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  .item {
    border: 1px solid #f8df70;
    position: relative;
    .bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      cursor: row-resize;
      &:hover {
        background: red;
      }
    }
  }
}

.item {
  border: 1px solid #5cb3cc;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}